<div class="container my-4">
  <div class="row justify-content-center g-3">

      <h3>Add Appointment</h3>
      <div class="stepper">
        @for (s of [1,2,3,4]; track s){
          <div class="step"
               [class.active]="s === step"
               [class.completed]="s < step"
               (click)="goToStep(s)" >
            Step {{ s }}
          </div>
        }
      </div>

      @if (step === 1) {
        <app-patient-step
          [patients]="patients"
          [loadingPatients]="loadingPatients"
          (selectPatient)="onPatientSelected($event)">
        </app-patient-step>
      }

      @if (step === 2) {
        <app-doctor-step
          [doctors]="doctors"
          [loadingDoctors]="loadingDoctors"
          (selectDoctor)="onDoctorSelected($event)"
          ></app-doctor-step>
      }


      @if (step === 3) {
        <app-schedule-step
          [doctorId]="state.doctorId"
          (selectDateTime)="onDateSelected($event)">
        </app-schedule-step>
      }

      @if (step === 4) {
        <app-overview-step
          [state]="state"
          [patients]="patients"
          [doctors]="doctors"
          (confirm)="confirmAppointment()"
          (cancel)="cancelAppointment()"
          (goBack)="goToStep(3)">
        </app-overview-step>
      }

  </div>
</div>
