@if(loading){
    <app-loading message="Loading document details..."></app-loading>
}

@if (groupDocument$ | async; as groupDocument) {
    <div class="container document-details">
        <h2 class="text-center">{{ groupDocument.title }}</h2>
      <div class="row">
        <div class="col-12  d-flex justify-content-between align-items-center mx-2">
         <div class="">
           <button class="btn btn-outline-secondary mb-3 p-3"
                   type="button" (click)="navigateBack()"
                   title="Go back to the documents list">
             <i class="bi bi-arrow-left me-1"></i>
           </button>
         </div>

        <div class="d-flex gap-2">
          <button class="btn btn-primary mb-3 p-3"
                  type="button" (click)="openAddModal()"
                  title="Add a new component to the document">
            <i class="bi bi-file-earmark-plus me-1"></i>
          </button>
          <button class="btn btn-success mb-3 p-3"
                  type="button" (click)="publishDocument()"
                  title="Publish and save the document changes in the database">
            <i class="bi bi-save me-1"></i>
          </button>
        </div>

        </div>

      </div>


      <app-add-component-modal
      [open]="isAddModalOpen"
      (close)="closeAddModal()"
      (create)="addComponent($event)">
      </app-add-component-modal>

      <div cdkDropList (cdkDropListDropped)="drop($event)">
        @if (groupDocument; as doc) {

          @for (component of doc.components; track component.id) {
            <app-doc-component
              [draftComponent]="component"
              (saveContent)="onChangeComponentContent($event)"
              (changeType)="onChangeComponentType($event)"
              (delete)="deleteComponent($event)"></app-doc-component>
          }
        }
      </div>

    </div>
} @else {
    <p class="text-muted">Document not found.</p>
}
