@if (floorplans != null) {
  <div class="container mt-4">
    <div class="row g-4 justify-content-center">
      @for (floorplan of floorplans; track floorplan){
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mx-2 my-2">
          <div
            class="floorplan-card"
            (click)="onFloorplanClick(floorplan)"
            style="cursor: pointer; border: 1px solid #ccc; border-radius: 8px; padding: 10px;"
            data-aos="fade-up"
          >
            <h5>{{ floorplan.name }} (Floor {{ floorplan.floorNumber }})</h5>
            <img src="assets/floor_images/{{floorplan.image}}" [alt]="floorplan.name" style="width: 100%; height: auto;"
            />
            <p>Scale: {{ floorplan.scale }}</p>
          </div>
        </div>
      }
    </div>
  </div>
} @else {

    <app-loading message="Loading floorplans to test the pathfinder"></app-loading>
}

@if (selectedFloorplan){
  <floorplan-viewer
    [floorplan]="selectedFloorplan"
    (close)="onViewerClose()"/>
}
