<div class="fp-backdrop" (click)="onBackdropClick()">
  <div class="fp-dialog" (click)="onDialogClick($event)">
    <button class="fp-close" (click)="closeViewer()" aria-label="Close">&times;</button>
    <div class="fp-content">
      <img
        #image
        [src]="'/floor_images/' + floorplan?.image"
        [alt]="floorplan?.name"  (click)="onPointSelection($event)"
      />

      @if (points.length > 0) {
        <div class="fp-marker fp-marker-start" [ngStyle]="markerStyle(points[0])"> </div>

      }
      @if (points.length > 1) {
        <div class="fp-marker fp-marker-end" [ngStyle]="markerStyle(points[1])"> </div>
      }

      @if (points.length == 2) {
        <button class="btn btn-danger" (click)="getRoute()">Get Route</button>
      }

      @if (hasRoute()) {
        <svg
          class="fp-path"
          [attr.viewBox]="getSvgViewBox()"
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polyline
            [attr.points]="getPolylinePoints()"
            fill="none"
            stroke="#0000FFFF"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-opacity="0.95"
          />
        </svg>
      }


      <div class="fp-legend" (click)="$event.stopPropagation()">
        <!--        <img src="/logo.png" alt="logo" class="fp-legend-logo" />-->
        <div class="fp-legend-text">
          <div class="fp-legend-title">How it works</div>
          <div class="fp-legend-subtitle">First click is the start, green point</div>
          <div class="fp-legend-subtitle">Second click is the destination, red point</div>
          <div class="fp-legend-subtitle">Afterwards you'll see the button to get the route to your destination</div>

        </div>
      </div>

    </div>
  </div>
</div>
