<!--<div class="module-card"
     [style.background-image]="bgUrl ? 'url(' + bgUrl + ')' : null"
     (click)="navigate()">
  <img src="{image}}" />
  <div class="overlay">
    <h2>Module: {{ title }}</h2>
  </div>
</div>-->
<!-- <div style="border:2px solid red; height:220px">
    TEXT: {{ title }}
  </div>-->



<div class="module-card" (click)="navigate()" data-aos="fade-up">
  <img class="module-img" src="{{ image }}" alt="{{title}}"/>
  <div class="overlay">
    <h2>Module: {{ title }}</h2>
  </div>
</div>

